.navbar{
    background-color: #f8f9fa;
    margin-bottom: -1px;
}
.navbar-header{
    padding: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.navbar .nav-link1{
    padding-right: 25px;
}
.navbar .nav-link2{
    padding-right: 25px;
}
.navbar .nav-link3{
    padding-right: 25px;
}
.navbar .nav-link1 i{
    padding-right: 10px;
}
.navbar .nav-link2 i{
    padding-right: 10px;
}
.navbar .nav-link3 i{
    padding-right: 10px;
}
.navbar2 img{
    width: 8%;
}
.navbar2 .nav-link1{
    padding: 50px;
}
.navbar2 .nav-link2{
    padding: 25px;
}
.navbar2 .nav-link3{
    padding: 25px;
}
.navbar2 .nav-link4{
    padding: 25px;
}
.navbar2 .nav-link5{
    padding: 25px;
}
.navbar2 i{
    
}
.navbar2  .facebook i{
    padding-left: 10px;
    float:right;
}
.navbar2  .twitter i{
    padding-left: 10px;
    float:right
}
.navbar2  .instagram i{
    padding-left: 10px;
    float:right;
}
.carousel-inner img {
    width: 100%;
    height: 70vh;
}