body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
    
    }
.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(133, 0, 221);
}    
.nav a{
    
    text-decoration: none;
    float: left;
    color: white;
    padding : 14px 26px;
    font-size: 19px;
    transition: 0.6s all;
}
.nav a:hover{
    background-color:  rgb(159, 91, 204);
}
.nav input{
    padding-top: 8px;
    margin-top:10px ;
    border: none;
    font-size: 17px;
}

.nav .logo img{
    float: left;
    padding: 6px;
    width: 7%;
}
.image {
    position: relative;
    max-width: 100%; 
    height: 10px;  
    margin: 0 auto;
    filter: blur(5px);  
    opacity: 0.5;  
    top: 600px;
}
h1{
   
    color: rgba(10, 1, 139, 0.842);
    padding-top: 20px;
    margin: 15px;
    text-align: center;
}
.photo img{
    width: 100%;
    height: 350px;
    margin: 15px;
}
h2{
    margin: 15px;
    color: rgb(137, 14, 252);
}
p{
    margin: 10px;
}
.gallery1  img{
    float: left;
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}
.gallery2 img{
    float: right;
    max-width: 50%;
    height: auto;
    border-radius:20px ;
}
.gallery3 img{
    float: left;
    max-width: 30%;
    height: auto;
    border-radius: 20px;
}
.gallery4 img{
    float: right;
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    
}
h3 {
   margin: 15px; 
   text-align: center;   
}
.form{
    background-color: rgb(245, 245, 245);
    padding: 16px;
}
input[type=text], input[type = Password]{
}
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.cancel {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(133, 0, 221);
}
.form {
  padding: 16px;
  display:block;
 
}

span.psw {
  float: right;
  padding-top: 16px;
}
span.psw {
     display: block;
     float: none;
  }
  .cancel {
     width: 100%;
  }
  .login{
    size: 5px;
    background-color:rgb(133, 0, 221);
  }

* {
  box-sizing: border-box;
}
.container {
  padding: 16px;
  background-color: white;
}
input[type=email], input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=email]:focus, input[type=password]:focus, input[type=text] {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4e048b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
h3{
    color: #4e048b;
}