body{
    padding-left: 0px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    display: block;
    text-decoration: none;
    color: whitesmoke;
} 
.logo {
    float: left;
    margin-right: 50%;
    padding-left: 15px;
    padding-top: 10px;
    
}
.nav-item {
    float: left;
    margin-right: 12px;
    padding: 10px;
}
.navbar{
     background-color:#041711;   
     height: 60px;  
}
.heading h1{
    color:#841A99;
}
.bread-cumbs {
    background-color:yellow;
    height: 30px;
    padding-top: 15px;
}
.bread-cumbs .left{
    padding-left:15px ;
}
.bread-cumbs .right{
    float: right;
    padding-right: 65px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    float: left;
    width: 20%;
    height: 300px; 
}
.column2 {
    float: left;
    width: 60%;
    height: 300px; 
}
.column3 {
    float: left;
    width: 20%;
    height: 300px;
    padding: 0px; 
}
.column3 .text p{
    background-color: burlywood;
    padding: 10px;
}
 .abs{
    padding-left: 100px;
}
.column2 .progress{
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
  }
.column2 .barOverflow{ /* Wraps the rotating .bar */
    position: relative;
    width: 180px;
    height: 90px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
    overflow: hidden;
  } 
.column2 .bar{
    position: absolute;  
    width: 180px; height: 180px; /* full circle! */
    border-radius:50%;
    box-sizing: border-box;
    border: 10px solid #ccc;     /* half gray, */
    border-right-width:#0bf ;
    border-right-color: #0bf;
}
.Team-1 .heading-1{
    text-align: center;
    color:#0bf ;
    padding: 30px;
}

.Team-1 .Image-1 img{
    width: 25%;
    float: left;
    height: 300px;
   

}
.Team-1 .Image-2 img{
    width: 25%;
    float: left;
    height: 300px;
    
}
.Team-1  .Image-3 img{
   width: 25%;
   float: left;
   height: 300px;
   

}
.Team-1  .Image-4 img{
    width: 25%;
    float: left;
    height: 300px;
    

}
/* .Team-2  */


.heading-2 h1{
    text-align: center;
    color:#0bf  ;
    padding: 30px;
}
.heading-2 p{
    text-align: center;
    color:#0bf  ;
}
.Team-2{
    text-align: center;
    color:#0bf  ;
    /* padding: 30px; */
}
.Happy .Happy-img1 img{
    width: 16%;
    float: left;
    padding: 5px;
}
.Happy .Happy-img2 img{
    width: 16%;
    float: left;
    padding: 5px;

}
.Happy .Happy-img3 img{
    width: 16%;
    float: left;
    padding: 5px;

}
.Happy .Happy-img4 img{
    width: 16%;
    float: left;
    padding: 5px;

}
.Happy .Happy-img5 img{
    width: 16%;
    float: left;
    padding: 5px;

}
.Happy .Happy-img6 img{
    width: 16%;
    float: left;
    padding: 5px;
}
.heading-3{
    background-color: #0bf;
}
.heading-3 .part-1{
    width: 28%;
    float: left;
    padding: 5px;
}
.heading-3 .part-2{
    width: 15%;
    float: left;
    padding: 5px;
}
.heading-3 .part-3{
    width: 15%;
    float: left;
    padding: 5px;
}
.heading-3 .part-4{
    width: 28%;
    float: left;
    padding: 5px;
}
.part-4 .img-1 img{
    width: 70%;
}
.part-4 .img-1 p{
    text-align: center;
    float: right;
    width: 60%;
    margin-right: -100px;
}
.part-4 .img-2 img{
    width: 70%;
    padding-top: 20px;
}
.part-4 .img-2 p{
    text-align: center;
    float: right;
    width: 60%;
    margin-right: -100px;
    padding-top: 20px;

}